{
  "extends": [
    // "satya164",
    // "eslint-config-dvh"
    "./eslint"
  ],
  "rules": {
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "import/no-extraneous-dependencies": ["error", {"packageDir": "."}],
    "no-param-reassign": ["error", { "props": false }],

    "react/no-array-index-key": 0,
    "react/no-unused-prop-types": "warn",
    "react-hooks/exhaustive-deps": 1,
    "import/prefer-default-export": 0,
    "babel/no-invalid-this": 0,
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-console":"warn",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "class-methods-use-this": "off",
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "none",
        "requireLast": true
      },
      "singleline": {
          // "delimiter": "none",
          "requireLast": false
      },
      "overrides": {
          "interface": {
              "multiline": {
                  "delimiter": "none",
                  "requireLast": true
              }
          }
      }
    }]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "Headers": true,
    "Request": true,
    "fetch": true,
    "alert": true
  },
  "settings": {
    "import/core-modules": [
        "modules/@react-navigation/native-stack"
      ]
  }
}